body{
    background-color: rgb(255, 255, 247);
    text-align: center;
}

img{
  position: absolute;
  top:100px;
  left:100px;
  color: #fff;
  background: #444;
  line-height: 1;
  border-radius: 50px;
  transition: all .2s;
}

h1{
    font-size: 40px;
}