body{
    background-color: rgb(255, 255, 247);
    text-align: center;
}

img{
  position: absolute;
  top: 20px;
  left:20px;

}
.img:hover{  
    color: rgb(151, 151, 151);
    background: #444;
    line-height: 1;
    transition: all .2s;
  }

h1{
    font-size: 40px;
}