@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

body {
    height: 100%;
}

.split {
    position: absolute;
    width: 50%;
    height: 100%;
}

.left-box {
    left: 0;
    background-color: antiquewhite;
}

.left-box h3 {
    text-align: center;
}

.right-box {
    right: 0;
    overflow-y: scroll;

}

.right-box .images {
    display: flex;
    flex-wrap: wrap;
}

.right-box .images li {
    width: 33%;
    list-style: none;
}

img {
    transition: 1.0s;
}

img:hover {
    opacity: 0.5;
}

li {
    list-style-type: none;
    display: inline-block;
}

.image is-square is-one-quarter poster:hover {
    opacity: 0.5;

}

/* レスポンシブデザイン */
@media screen and (max-width: 960px) {
    .split {
        position: relative;
        width: 100%;
        height: auto;
        /*高さはコンテンツ量に応じて*/
    }
}